{
  "region": "<region-name>",
  "params": {
    "Bucket": "<bucket-name>"
  },
  "accessKeyId": "<access-key-id>",
  "secretAccessKey": "<secret-access-key>",
  "cloudfront" : {
    "distribution": "<cloudfront-distribution-id>"
  }
}
